@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Zaregistruj se nebo se přihlaš</p>
    <form method="post">
        <input type="text" asp-for="_us.Name"/><br />
        <input type="password" asp-for="_us.Password"/><br />
        <input type="password" asp-for="ControlPass" /><br />
        <input type="submit" />
    </form>
    <a href="./Login"><span>Přihlášení</span></a>
</div>
