@page
@model AccountsCreate.Pages.LoginModel
@{
}
<form method="post">
    <input type="text" asp-for="_us.Name" /><br />
    <input type="password" asp-for="_us.Password" /><br />
    <input type="submit" />
</form>
